# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual Environment
# -------------------------
.venv/
venv/
env/

# -------------------------
# IDE
# -------------------------
.idea/
.vscode/

# -------------------------
# Operating System
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Python cache
# -------------------------
.pytest_cache/
.mypy_cache/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/